/* CONTAINERS */
.container_970 {
  max-width: 600px;
} 

.container_500 {
  max-width: 400px;
}



/* SHARED STYLES */
body {
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-size: 33px;
  line-height: 43px;
}

h2 {
  font-size: 26px;
  line-height: 32px;
}



/* HEADER */
.header_main_nav {
  max-width: 600px;
}



/* SKILLS */
.skills_item {
  max-width: 100px;
  padding-top: 2vh;
}



/* FOOTER */
.social_container {
  max-width: 250px;
}

.social_item {
  width: 45px;
  height: 45px;
}

.btn {
  height: 38px;
  width: 140px;
}
